{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>EsIA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script type="text/javascript">
		function deleteFunction(e) {
            if(!confirm("Esta seguro de eliminar este estudio?")){
                e.preventDefault();
            }else{
             $('#eliminar_estudio').submit();
            }            
        }
	</script>
</head>
<body>
	<br><br>
	<div class="container">
		<div class="row justify-content-center">
			<h1> Agregar un Estudio </h1>
			<br>
		</div>
		<form method="post">
		<br>
			{% csrf_token %}
			
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.nombre.label}}</label>
						{{form.nombre}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.tipo.label}}</label>
						{{form.tipo}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.valoracion_relevancia.label}}</label>
						{{form.valoracion_relevancia}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.tipo_relevancia.label}}</label>
						{{form.tipo_relevancia}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.intensidad.label}}</label>
						{{form.intensidad}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.extension.label}}</label>
						{{form.extension}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.duracion.label}}</label>
						{{form.duracion}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.reversibilidad.label}}</label>
						{{form.reversibilidad}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.probabilidad.label}}</label>
						{{form.probabilidad}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.pondIntensidad.label}}</label>
						{{form.pondIntensidad}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.pondExtension.label}}</label>
						{{form.pondExtension}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.pondDuracion.label}}</label>
						{{form.pondDuracion}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.pondReversibilidad.label}}</label>
						{{form.pondReversibilidad}}
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<label for="">{{form.pondProbabilidad.label}}</label>
						{{form.pondProbabilidad}}
					</div>
				</div>

			</div>


			<div class="row justify-content-center">
				<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Guardar</button>
						</div>
				</div>
				{% if object %}
				<div class="row justify-content-center">
					<div class="col-md-6 col-md-offset-3">
						<form id='eliminar_estudio' method="POST" action="{% url 'eliminar_estudio' object.pk %}">
							{% csrf_token %}
							<a href="{% url 'eliminar_estudio' object.pk %}">
							<button  class="btn btn-danger" onClick="return deleteFunction();">Eliminar</button></a>
						</form>
					</div>
				</div>
				{% endif %}
			</div>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>