{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>EsIA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<style>
		h1 {
			background-color: #e6fad2;
		}
	</style>
	<script>
    $(document).ready(function(){
   		$("#recurso, #recursoInput, #link, #linkInput").hide();
		$("#Link").click(function(){
			$("#link, #linkInput").show();
			$("#recurso, #recursoInput, #br1, #br2").hide();
  	 	});
		$("#Video, #Audio, #Imagen, #Documento").click(function(){
			$("#link, #linkInput").hide();
			$("#recurso, #recursoInput, #br1, #br2").show();
  	 	});
	});
	</script>
</head>
<body>
	<br><br>
	<div class="container">
		<div class="row justify-content-center">
			<h1> Agregar un Estudio </h1>
			<br>
		</div>
		<form method="post">
		<br>
			{% csrf_token %}

<!-- 			{% for i in view.grado_pertubacion %}
<label for="">{{i}}</label>
{% endfor %} -->
			
			<div class="row">

				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.nombre.label}}</label>
								{{form.nombre}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.tipo.label}}</label>
							{{form.tipo}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.valoracion_relevancia.label}}</label>
							{{form.valoracion_relevancia}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.tipo_relevancia.label}}</label>
							{{form.tipo_relevancia}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.intensidad.label}}</label>
								{{form.intensidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.extension.label}}</label>
							{{form.extension}}
							</h6>
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.duracion.label}}</label>
							{{form.duracion}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.reversibilidad.label}}</label>
								{{form.reversibilidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.probabilidad.label}}</label>
								{{form.probabilidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondIntensidad.label}}</label>
								{{form.pondIntensidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondExtension.label}}</label>
								{{form.pondExtension}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondDuracion.label}}</label>
								{{form.pondDuracion}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondReversibilidad.label}}</label>
								{{form.pondReversibilidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondProbabilidad.label}}</label>
								{{form.pondProbabilidad}}
						</h6>
					</div>
				</div>
				{% if object %}
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">VIA</label>
								<input class="string form-control" type="text" value="{{object.via}}" readonly="" />
						</h6>
					</div>
				</div>
				{% endif %}

			</div>


			<div class="row justify-content-center">
				<div class="col-md-6 col-md-offset-2" align="right">
						<div class="form-group">
							<input id="editar" name="editar" class="btn btn-primary" value="Guardar" type="submit">
						</div>
				</div>
				{% if object %}
				<div class="col-md-6 col-md-offset-2" align="left">
					<div class="form-group">
						<input id="eliminar" onclick = "return confirm('¿Está seguro de eliminar este estudio?')" name="eliminar" class="btn btn-danger" value="Eliminar" type="submit">
					</div>
				{% endif %}
				</div>
			</div>
		</form>

	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>