{% extends 'configuracion/base.html' %}
	{%block contenido%}
	{% if form.errors %}
	{% for fields in form %}
	{% for error in fields.errors %}
	<div class="alert alert2 {{ message.tags }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
	<i class=""><strong>{{ error }}</strong></i>
	</div>
	{% endfor %}
	{% endfor %}
	{% endif %}

		<div class="row justify-content-center">
			<div class="col-1">			
				<div class="col-md-6 col-md-offset-2" align="center">
					<div class="form-group">
						<a class="btn menu" style="color: gray" href="{% url 'index' %}">Volver</a>
					</div>
				</div>
			</div>
			<div class="col-11"><div class="row justify-content-center">
				{% if object %}
				<h1> Datos del Estudio </h1>
				{% else %}
				<h1> Agregar un Estudio </h1>
				{% endif %}
			<br></div>
			</div>	
		</div>
		<form method="post" id="formulario">
		<br>
			{% csrf_token %}
			
			<div class="row">

				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.nombre.label}}</label>
								{{form.nombre}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.tipo.label}}</label>
							{{form.tipo}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.valoracion_relevancia.label}}</label>
							{{form.valoracion_relevancia}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.tipo_relevancia.label}}</label>
							{{form.tipo_relevancia}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.grado_perturbacion_intensidad.label}}</label>
								{{form.grado_perturbacion_intensidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.valor_sociocultural_intensidad.label}}</label>
								{{form.valor_sociocultural_intensidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.clasificacion_extension.label}}</label>
							{{form.clasificacion_extension}}
							</h6>
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.criterio_duracion.label}}</label>
							{{form.criterio_duracion}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.clasificacion_reversibilidad.label}}</label>
								{{form.clasificacion_reversibilidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.probabilidad.label}}</label>
								{{form.probabilidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondIntensidad.label}}</label>
								{{form.pondIntensidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondExtension.label}}</label>
								{{form.pondExtension}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondDuracion.label}}</label>
								{{form.pondDuracion}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondReversibilidad.label}}</label>
								{{form.pondReversibilidad}}
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">{{form.pondProbabilidad.label}}</label>
								{{form.pondProbabilidad}}
						</h6>
					</div>
				</div>
				{% if object %}
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">VIA</label>
								<input class="string form-control" type="text" value="{{object.via}}" readonly="" />
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">Importancia del Estudio</label>
								<input class="string form-control" type="text" value="{{object.importancia_estudio}}" readonly="" />
						</h6>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<h6>
							<label for="">Valor del Impacto</label>
								<input class="string form-control" type="text" value="{{object.valor_estudio}}" readonly="" />
						</h6>
					</div>
				</div>
				{% endif %}
			</div>


			<div class="row justify-content-center">



				<div class="col-md-6 col-md-offset-2" align="center">
					<div class="form-group">
							<input id="editar" name="editar" class="btn" onclick = "return confirm('¿Está seguro de los datos introducidos?')" style="background: #4f6228; color: white" value="Guardar" type="submit">
					</div>
				</div>
				{% if object %}
				<div class="col-md-6 col-md-offset-2" align="center">
					<div class="form-group">
						<a class="btn" style="background: #4f6228; color: white" onclick = "return confirm('¿Está seguro de eliminar este estudio?')" href="{% url 'eliminar_estudio' object.id %}">Eliminar</a>
					</div>
				{% endif %}
				</div>
			</div>
		</form>
	</div>
	{%endblock%}