{% extends 'configuracion/base.html' %}
{%block contenido%}
<div class="row justify-content-center">
	<div class="col-md-6 col-sm-12">
		<table class="indicador">
			<caption>Valoración de la intensidad</caption>
			<tr class="cabecera">
				<th>Grado de perturbancia</th>
				<th colspan="4">Valor socio-cultural</th>
			</tr>
			<tr class="cabecera">
				<th>
					<th>Muy alto</th>
					<th>Alto</th>
					<th>Medio</th>
					<th>Bajo</th>
				</th>
			</tr>
			<tr>	
				<td>Fuerte</td>
				{% for i in intensidad_fuerte %}
				{% if i.valor_sociocultural == 'MA' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'A' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'M' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'B' %}
				<td>{{i.valor}}</td>
				{% endif %}
				{% endfor %}
			</tr>
				<td>Medio</td>
				{% for i in intensidad_medio %}
				{% if i.valor_sociocultural == 'MA' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'A' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'M' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'B' %}
				<td>{{i.valor}}</td>
				{% endif %}
				{% endfor %}
			</tr>
			<tr>
				<td>Suave</td>
				{% for i in intensidad_suave %}
				{% if i.valor_sociocultural == 'MA' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'A' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'M' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'B' %}
				<td>{{i.valor}}</td>
				{% endif %}
				{% endfor %}
			</tr>
		</table>
	</div>
	<div class="col-md-6 col-sm-12">
		<table class="indicador">
			<caption>Valoración de la extensión</caption>
			<tr class="cabecera">
				<th>Clasificacion</th>
				<th colspan="2">Extension</th>
			</tr>
			<tr class="cabecera">
				<th>
					<th>%</th>
					<th>Valor</th>
				</th>
			</tr>
			<tr>
				{% for i in extension %}
				<td>Generalizada</td>
				<td>>75%</td>
				{% if i.clasificacion == 'GE' %}
				<td>{{i.valor}}</td>
			</tr>
			<tr>
				<td>Extensiva</td>
				<td>35-74%</td>
				{% elif i.clasificacion == 'EX' %}
				<td>{{i.valor}}</td>
			</tr>
			<tr>
				<td>Local</td>
				<td>10-34%</td>
				{% elif i.clasificacion == 'LO' %}
				<td>{{i.valor}}</td>
			</tr>
			<tr>
				<td>Puntual</td>
				<td><10%</td>
				{% elif i.clasificacion == 'PU' %}
				<td>{{i.valor}}</td>
				{% endif %}
				{% endfor %}
			</tr>
		</table>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-6 col-sm-12">
		<table class="indicador">
			<caption>Valoración de la duración</caption>
			<tr class="cabecera">
				<th>Criterios</th>
				<th>Valor</th>
			</tr>
			<tr>
				<td>Menos de 2 años</td>
				<td>2</td>
			</tr>
			<tr>
				<td>2 a 5 años</td>
				<td>5</td>
			</tr>
			<tr>
				<td>5 a 10 años</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Más de 10 años</td>
				<td>10</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6 col-sm-12">
		<table class="indicador">
			<caption>Valoración de la reversibilidad</caption>
			<tr class="cabecera">
				<th>Clasificación</th>
				<th>Valor</th>
			</tr>
			<tr>
				<td>Irreversible</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Requiere tratamiento</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Medianamente reversible</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Reversible</td>
				<td>2</td>
			</tr>
		</table>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-6 col-sm-12">
		<table class="indicador">
			<caption>Ponderación de criterios de evaluación</caption>
			<tr class="cabecera">
				<th>Clasificación</th>
				<th>Porcentaje</th>
			</tr>
			<tr>
				<td>Intensidad</td>
				<td>30</td>
			</tr>
			<tr>
				<td>Extensión</td>
				<td>20</td>
			</tr>
			<tr>
				<td>Duración</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Reversibilidad</td>
				<td>20</td>
			</tr>
			<tr>
				<td>Probabilidad</td>
				<td>20</td>
			</tr>
			<tr>
				<td style="text-align: right;">Total:</td>
				<td>100</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6 col-sm-12">
		<table class="indicador">
			<caption>Criterios de clasificación de la importancia del efecto</caption>
			<tr class="cabecera">
				<th>Importancia</th>
				<th colspan="2">Rango</th>
				<th>Valor del impacto</th>
			</tr>
			<tr class="cabecera">
				<th>
					<th>Min</th>
					<th>Max</th>
				</th>
				<th></th>
			</tr>
			<tr>
				<td>Muy alta</td>
				<td>8.0</td>
				<td>10.0</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Alta</td>
				<td>6.0</td>
				<td>7.9</td>
				<td>7</td>
			</tr>
			<tr>
				<td>Media</td>
				<td>3.0</td>
				<td>5.9</td>
				<td>5</td>
			</tr>
			<tr>
				<td>Baja</td>
				<td>0.0</td>
				<td>2.9</td>
				<td>2</td>
			</tr>
		</table>
	</div>
</div>
<div class="row justify-content-center mt-3">
	<a class="btn" style="background: #4f6228; color: white" href="{% url 'modificar_tablas' %}">Modificar valores</a>
</div>
{%endblock%}